body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Calibri";
}

.page{
    color: red;
}

header{
    background-color: #86C6B7;
    padding: 10px 110px 10px 40px;
    height: 80px;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.main-menu{
    list-style: none;
    float: right;
}

.main-menu a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
}

.main-menu li{
    display: inline-block;
    padding: 10px;
}

.main-menu li:hover{
    border-bottom: 2px solid #FFFFFF;
}

.logo{
    float: left;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2.0em;
    font-weight: bold;
}

.lang-icon{
    height: 20px;
    width: 50px;
    position: absolute;
    right: 120px;
    top: 15px;
}

.lang-icon .rus{
    width: 18px;
    height: 12px;
    position: absolute;
    background: url("../images/rus-uk.png") 18px 0;
    opacity: 0.5;
}

.lang-icon .eng {
    width: 18px;
    height: 12px;
    left: 28px;
    position: absolute;
    background: url("../images/rus-uk.png") 0 0;
    opacity: 0.5;
}

.lang-icon .eng:hover{
    opacity: 1;
}

.lang-icon .rus:hover{
    opacity: 1;
}

.lang-icon .select{
    opacity: 1;
}

main{
    height: calc(100% - 100px);
}

#map{
    width: 70%;
    height: 100%;
    float: left;
}

.right-container{
    width: 30%;
    height: 100%;
    float: right;
}

.win-b{
    background-color: white;
    height: 50%;
    text-align: center;
}

.win-c{
    background-color: lightgray;
    height: 50%;
    text-align: center;
    color: #5B5B5B;
    font-size: 1.5em;
}

.crest{
    /*width: 100%;*/
    height: 100%;
}


@media screen and (max-width: 870px) {

    .logo:after{
        content: "\2261";
        font-size: 1.5em;
        color: black;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1000;
    }
    .main-menu{
        display: none;
    }

}

.marker-1{
    font-size: 2em;
    background: url("/images/crest.png") 50% 50%;
}